/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/public/storage
/storage/pail
/storage/app/*
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.env.backup
.env.production
.phpactor.json
auth.json

.idea
.vscode
composer.lock
package-lock.json
